on late-fs
    # boot time fs tune
    write /sys/block/sda/queue/scheduler anxiety
    write /sys/block/sde/queue/scheduler anxiety

on property:sys.boot_completed=1
    # end boot time fs tune
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sde/queue/read_ahead_kb 512
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512
